*.iml
.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle.kts
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/build.gradle.kts

/captures
.externalNativeBuild
.cxx
local.properties
